<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SQLCon" connectionString="server=DESKTOP-DSM3GN1\SQLEXPRESS;database=QReg;uid=sa;password=end1234" />
  </connectionStrings>
  <appSettings>
    <add key="Alto" value="1075"/>
    <add key="Ancho" value="768"/>
    <add key="Alto_Fila" value="215"/>
    <add key="Ancho_Columna_Turno" value="275" />
    <add key="Ancho_Columna_Puesto" value="500"/>
  </appSettings>
</configuration>